<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Register</title>
</head>
<body>
    
    <h1>Register page</h1>
    <form action="" method="post">
        {% csrf_token %}

        <label for="id_name">Add category name:</label>
        <input type="text" name="cat_name" id="id_name">

        <input type="submit" value="Add Category">
    </form>
    <h3>List of Categories and Products:</h3>
    <a href="{% url 'admin_app:category_list' %}"><button>Category List</button></a>
    <a href="{% url 'admin_app:p_register' %}"><button>Add Product</button></a>
    <a href="{% url 'admin_app:p_list' %}"><button>Product List</button></a>

</body>
</html>