<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>
<body>
    {% for i in messages %}
    <h2>{{i}}</h2>
    {% endfor %}

    <div>
        {% if data %}
        <table border="2px solid">
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.cat_id}}</td>
                <td>{{i.cat_name}}</td>
                <td><a href="{% url 'admin_app:category_update' pk=i.cat_id %}"><button>Update</button></a></td>
                <td><a href="{% url 'admin_app:category_delete' pk=i.cat_id %}"><button>Delete</button></a></td>

            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>Data is not found</h2>
        {% endif %}
    </div><br>

    <div>
        <a href="{% url 'admin_app:category_register' %}"><button>To Add Category</button></a>
        <a href="{% url 'admin_app:p_register' %}"><button>To Add Product</button></a>
    </div>
    
</body>
</html>