<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Update</title>
</head>
<body>

    <div>
        <h1>Update Page</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label for="id_name">Name</label>
            <input type="text" name="name" id="id_name" value="{{data.cat_name}}">

        <input type="submit" value="Update">
        </form>
    </div><br>
    <div>
        <a href="{% url 'admin_app:category_list' %}"><button>List Page</button></a>
        <a href="{% url 'admin_app:category_register' %}"><button>To Add Category</button></a>
        <a href="{% url 'admin_app:p_register' %}"><button>To Add Product</button></a>
        
    </div>
    
</body>
</html>