<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product_update</title>
</head>
<body>

    <div>
        <h1>Update Page</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
           <table>
            {{form}}
           </table>
        <input type="submit" value="Update">
        </form>
    </div>
    <div>
        <a href="{% url 'admin_app:p_list' %}"><button>List Page</button></a>
    </div>
    
</body>
</html>