<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    
    <div>
        {% if data %}
        <table border="2px solid">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>desc</th>
                <th>quantity</th>
                <th>price</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.item_id}}</td>
                <td>{{i.item_name}}</td>
                <td>{{i.item_desc}}</td>
                <td>{{i.item_quantity}}</td>
                <td>{{i.price}}</td>
                <td><a href="{% url 'category_item:item_update' pk=i.cat_id %}"><button>Update</button></a></td>
                <td><a href="{% url 'category_item:item_delete' pk=i.cat_id %}"><button>Delete</button></a></td>

            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>Data is not found</h2>
        {% endif %}
    </div>

    <div>
        <a href="{% url'category_item:item_register' %}"><button>Register page</button></a>
    </div>

</body>
</html>