<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <style>
        #tab{
            display: flex;
            margin: 4% 5% 3% 25%;
        }

        th,td{
            padding: 2px;
            border-color: rebeccapurple;
            font-size: larger;
            text-align: center;
        }

        th{
            color: rgb(248, 38, 38);
            font-size: x-large;
        }

        td{
            color: darkblue;
            font-size: larger;
        }

    </style>
</head>
<body>{% for i in messages %}
    <h2>{{i}}</h2>
    {% endfor %}
    <h3>Items List</h3>
    <div id="tab"> 
        {% if data %}
        <table border="2px solid" >
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Image</th>
                <th>Cart</th>
                
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.item_id}}</td>
                <td>{{i.item_name}}</td>
                <td>{{i.item_desc}}</td>
                <td>{{i.item_quantity}}</td>
                <td>{{i.price}}</td>
                <td><img src="{{i.img.url}}" alt="no_image"  height="75" width="75"></td>
                <td><a href="{% url 'cart_app:cart_register' p_id=i.item_id cust_id=user.id iname=i.item_name iprice=i.price %}"><button>Add cart</button></a></td>
                
                <td><a href="{% url 'admin_app:p_update' pk=i.item_id %}"><button>Update</button></a></td>
                <td><a href="{% url 'admin_app:p_delete' pk=i.item_id %}"><button>Delete</button></a></td>

            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>Data is not found</h2>
        {% endif %}
    </div><br>

    <div>
        <a href="{% url 'admin_app:category_register' %}"><button>To Add Category</button></a>
        <a href="{% url 'admin_app:p_register' %}"><button>To Add Product</button></a>
    </div>

</body>
</html>