<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- below is the external css document link our project-->
    <link rel="stylesheet" href="{% static 'css/gms_css.css'%}">
    <title>Grocery Management</title>
<style>
    .gro{
        font-size:200%;
        color:rgba(248, 3, 125, 0.948);
    }

    #pContainer{
        background-color: aliceblue;
    }
    
   
</style>

<!-- below is the external css link of google font website-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">


<!-- the below link is to apply favicon -->
<link rel="icon" href="{% static 'images/gro.jpg' %}">


<!-- below is external js document link of our project -->
<script src="">

</script>

</head>
<body>
    
    <div class="" id="pContainer">
        <section class="pContainerChilren" id="pContainerChild1">
            <img class="logo" id="project_brand__logo" src="{% static 'images/grocery.png' %}" alt="project_brand__logo" > 
            <!-- <h1 id="gms"><span class="gro">G</span>rocery <br><span class="gro">M</span>anagement <br><span class="gro">S</span>ystem</h1> -->
        </section>
        <section class="pContainerChilren" id="pContainerChild2"></section>
        <section class="pContainerChilren" id="pContainerChild3"><h1 id="continueAsText">CONTINUE AS</h1>
        <!-- <form action="" id="continueAsForm"> -->
            
            <a href="{% url 'customer_app:login_demo' %}"><button class="continueAsButtons" id="cutomerButton">LOGIN</button></a>
            <a href="{% url 'customer_app:customer_register' %}"><button class="continueAsButtons" id="adminButton">REGISTER</button></a>

        <!-- </form> -->
        </section>
    </div>

</body>
</html>