<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirm page</title>

    <style>
        form{
            align-items: center;
            text-align: center;
            margin-top: 10%;
            border-radius: 10px;
            padding: 10px;
            width: 100px;

        }
        #confirmbtn{
          background-color: rgb(11, 144, 11);
          margin: 10px;
          height: 30px;
          border-radius: 10px;

        }
    </style>

</head>
<body>
      <form action="" method="post">
          {% csrf_token %}
          <label for="">Enter Name:</label>
          <input type="text" name="cust_name" placeholder="Enter Name"><br>
          <label for="">Enter Phone:</label>
          <input type="tel" name="cust_phone" placeholder="Enter phone"><br>
          <label for="">Enter Address:</label>
          <input type="text" name="cust_address" placeholder="Address"><br> 
          <input type="submit" value="confirm to buy" id="confirmbtn">
      </form>
</body>
</html>