<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1,h2{
            text-align: center;
        }
        p{
            font-size: large;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Contact Us</h1><br><br>
    <h2>If you any queries, Please contact:</h2>
    <p>7729866590</p>
    <p>9921845320</p>
    <p>7898518392</p>
    <p>7286076207</p>
    <h2>Send Mail:</h2>
    <p>sangapatnamsupraja@gmail.com</p>
    <p>pranay@gmail.com</p>
    <p>aditya@gmail.com</p>
    <p>dhanalakshmi@gmail.com</p>
</body>
</html>