{% extends 'base_login.html' %}

{% block title %}
<title>Customer Login</title>
{% endblock %}


{% block body_title %}
<h1 style="text-align: center;">Customer Login Page</h1>
{% endblock %}

{% block form %}
{{form}}
{% endblock %}

{% block button %}
        <input id="submitbutton" type="submit" value="Login" >
{% endblock %}


{% block foot %}
    <div class="div3">
        <h4>New User?</h4>
        <a class="login" href="{% url 'customer_app:customer_register' %}"><button  id="login">Register</button></a><br><br>
        <a href="{%url 'customer_app:forgot_pwd' %}">forgot password?</a>
    </div>
{% endblock %}


</body>
</html>