{% extends 'base_login.html' %}

{% block title %}
<title>Customer Register</title>
{% endblock %}


{% block body_title %}
<h1 style="text-align: center;">Customer Register</h1>
{% endblock %}

{% block form %}
{{form}}
{% endblock %}

{% block button %}
        <input id="submitbutton" type="submit" value="Register">
{% endblock %}


{% block foot %}
    <div class="div3    ">
        <h4>Already User?</h4>
        <a class="login" href="{% url 'customer_app:customer_login' %}"><button  id="login">Login</button></a><br><br>
    </div>
{% endblock %}