{% extends 'base_login.html' %}

{% block title %}
<title>Customer Register</title>
{% endblock %}


{% block body_title %}
<h1 style="text-align: center;">Customer Register</h1>
{% endblock %}

{% block form %}
<div class="container">
<table class="table">
{{form}}
</table>
</div>
{% endblock %}


{% block button %}
        <input type="submit" value="Register" class="btn btn-primary"><br>
{% endblock %}


{% block foot %}
    <div class="div3">
        <h4>Already User?</h4>
        <a class="login" href="{% url 'customer_app:login_demo' %}"><button  id="login">Login</button></a><br><br>
    </div>
{% endblock %}